[Unit]
Description="The Riptide agent"
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/opt/riptide
# Hides User Database #
PrivateUsers=true

User=riptide
Group=riptide

#Read only /usr, /boot, and /etc
ProtectSystem=full

# /home, /root, /run/usr are empty
ProtectHome=true

# /proc/sys, /sys, /proc/sysrq-trigger, /proc/latency_stats, /proc/acpi, /proc/timer_stats, /proc/fs and /proc/irq will be read-only within the unit. It is recommended to turn this on for most services.
ProtectKernelTunables=true

# Block module system calls, also /usr/lib/modules.
ProtectKernelModules=true

ProtectControlGroups=true

ExecStart=/opt/riptide/agent
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
